<html>
<head>
    <title>Logowanie</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock %}
</head>
{% block body %}
    <div class="container">
        <body id="LoginForm">
            <div class="login-form">
                <div class="main-div">
                    {% for message in app.flashes('logout') %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% if error %}
                        <div class="alert alert-danger">{{ error.message | replace({"Bad credentials." : "Błędne dane logowania!"}) }}</div>
                    {% endif %}
                    <div class="panel">
                        <h2>Interfejs logowania</h2>
                        <p>Wprowadź nazwę użytkownika i hasło:</p>
                    </div>
                    <form action="{{ path('login') }}" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="Nazwa użytkownika">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="_password" placeholder="Hasło">
                        </div>
                        <button type="submit" class="btn btn-primary">Zaloguj</button>
                    </form>
                </div>
            </div>
        </body>
    </div>
{% endblock %}

