@media (max-width: 767px) {
    .btn {
            margin-top:5px;
    }
}

@media (max-width: 991px) {
    .btn {
        margin-top: 5px;
    }
}

@media (max-width: 1199px) {
    .btn {
        margin-top: 5px;
    }
}
