{% extends 'base.html.twig' %}

{% block title %}Edytuj dane usługi{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Edytuj dane usługi:</h1>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            <div class="col">
                {{ form_row(form.name) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.price) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.vatRate) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}