{% extends 'base.html.twig' %}

{% block title %}Lista usług{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista usług:</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for message in app.flashes('addService') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('editService') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteService') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('conflictDeleteService') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nazwa usługi</th>
                    <th scope="col">Cena netto</th>
                    <th scope="col">Stawka VAT</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                <tbody>
                {% set positionNumber = 0 %}
                    {% for service in services %}
                        {% set positionNumber = positionNumber + 1 %}
                    <tr>
                        <th scope="row">{{ positionNumber }}.</th>
                        <td>{{ service.name }}</td>
                        <td>{{ service.price }} zł</td>
                        <td>{{ service.vatRate }}%</td>
                        <td>
                            <a href="/services/edit/{{ service.id }}" class="btn btn-success btn-sm">Edytuj</a>
                            <a href="/services/delete/{{ service.id }}" class="btn btn-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
            <div class="row">
                <a href="/services/add" class="btn btn-danger btn-lg btn-block">Dodaj usługę</a>
            </div>
    </div>
{% endblock %}