{% extends 'base.html.twig' %}

{% block title %}Wystaw fakturę{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Wystaw fakturę:</h1>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            <div class="col">
                {{ form_row(form.id) }}
                <script type="text/javascript">
                    $(function() {
                        $('.chosen').chosen();
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.date) }}
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


