{% extends 'base.html.twig' %}

{% block title %}Lista faktur{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista faktur:</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for message in app.flashes('addInvoice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('editInvoice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteInvoice') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Data wystawienia</th>
                    <th scope="col">Klient</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                <tbody>
                {% set positionNumber = 0 %}
                    {% for invoice in invoices %}
                        {% set positionNumber = positionNumber + 1 %}
                    <tr>
                        <th scope="row">{{ positionNumber }}.</th>
                        <td>{{ invoice.date }}</td>
                        <td>{{ invoice.orders.car.client.name}}</td>
                        <td>
                            <a href="/invoices/print/{{ invoice.id }}" class="btn btn-primary btn-sm">Drukuj</a>
                            <a href="/invoices/edit/{{ invoice.id }}" class="btn btn-success btn-sm">Edytuj</a>
                            <a href="/invoices/delete/{{ invoice.id }}" class="btn btn-danger btn-sm">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="/invoices/add" class="btn btn-danger btn-lg btn-block">Wystaw fakturę</a>
        </div>
    </div>
{% endblock %}