<!DOCTYPE HTML>

{% block body %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Podgląd faktury</title>
    <style type="text/css">
        * {
            font-family: DejaVu Sans
        }
        table{
            font-size: small;
        }
        tfoot tr td{
            font-weight: bold;
            font-size: small;
        }
        .gray {
            background-color: lightgray
        }
    </style>
</head>
<body>
<h1 style="text-align:center">FAKTURA VAT</h1>
<table width="100%">
    <tr>
        <td align="right">
            Miejsce wystawienia: <b>Kolobrzeg</b><br>
            Data wystawienia: <b>{{ invoice.date }}</b><br>
        </td>
    </tr>
</table>
<br>

<table width="100%">
    <tr>
        <td align="left">
            <b>SPRZEDAWCA:</b><br>
            <b>Warsztat Samochodowy</b><br>
            <b>ul. Ogrodowa 27C/18</b><br>
            <b>78-100 Kolobrzeg</b><br>
            NIP: <b>232-11-43-847</b><br>
            Telefon: <b>608-572-015</b><br>
            Adres e-mail: <b>grabek.lukasz@gmail.com</b><br>
        </td>
        <td align="right">
            <b>NABYWCA:</b><br>
            <b>{{ invoice.orders.car.client.name }}</b><br>
            <b>ul. {{ invoice.orders.car.client.street }}</b><br>
            <b>{{ invoice.orders.car.client.postalCode}} {{ invoice.orders.car.client.city }}</b><br>
            NIP: <b>{{ invoice.orders.car.client.nip }}</b><br>
            Telefon: <b>{{ invoice.orders.car.client.telephone }}</b><br>
            Adres e-mail: <b>{{ invoice.orders.car.client.email }}</b><br>
        </td>
    </tr>
</table>
<br>
<br>
<table width="100%">
    <thead style="background-color: lightgray;">
    <tr>
        <th style="text-align:center">Lp.</th>
        <th style="text-align:center">Nazwa uslugi</th>
        <th style="text-align:center">Cena netto</th>
        <th style="text-align:center">Stawka VAT</th>
        <th style="text-align:center">Kwota VAT</th>
        <th style="text-align:center">Cena brutto</th>
    </tr>
    </thead>
    <tbody>
    {% set positionNumber = 0 %}
        {% for madeServiceByOrder in madeServicesByOrder %}
            {% set positionNumber = positionNumber + 1 %}
    <tr>
        <td align="center">{{ positionNumber }}.</td>
        <td align="left">{{ madeServiceByOrder.service.name }} </td>
        <td align="right">{{ madeServiceByOrder.service.price }} zł</td>
        <td align="right">{{ madeServiceByOrder.service.vatRate }} %</td>
        <td align="right">{{ madeServiceByOrder.service.vatAmount }} zł</td>
        <td align="right">{{ madeServiceByOrder.service.grossPrice}} zł</td>
    </tr>
    {% endfor %}

        {% set netWorth = 0 %}
        {% for madeServiceByOrder in madeServicesByOrder %}
            {% set netWorth = netWorth +  madeServiceByOrder.service.price %}
        {% endfor %}

        {% set vatWorth = 0 %}
        {% for madeServiceByOrder in madeServicesByOrder %}
            {% set vatWorth = vatWorth +  madeServiceByOrder.service.vatAmount %}
        {% endfor %}

        {% set grossWorth = 0 %}
        {% for madeServiceByOrder in madeServicesByOrder %}
            {% set grossWorth = grossWorth +  madeServiceByOrder.service.grossPrice %}
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4"></td>
        <td align="right">Wartość netto</td>
        <td align="right">{{ netWorth|number_format(2, '.') }} zł</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td align="right">Wartość VAT</td>
        <td align="right">{{ vatWorth|number_format(2, '.') }} zł</td>
    </tr>
    <tr>
        <td colspan="4"></td>
        <td align="right">Wartość brutto</td>
        <td align="right">{{ grossWorth|number_format(2, '.') }} zł</td>
    </tr>
    </tfoot>
</table>
{% endblock %}