{% extends 'base.html.twig' %}

{% block title %}Dodaj usługę{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista wykonanych usług:</h1>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <div class="col">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nazwa usługi</th>
                    <th scope="col">Cena brutto</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                    <tbody>
                    {% set positionNumber = 0 %}
                        {% for madeServiceByOrder in madeServicesByOrder %}
                            {% set positionNumber = positionNumber + 1 %}
                        <tr>
                            <td>{{ positionNumber }}.</td>
                            <td>{{ madeServiceByOrder.service.name }}</td>
                            <td>{{ madeServiceByOrder.service.grossPrice}} zł</td>
                            <td>
                                <a href="/orders/delete-service/{{ madeServiceByOrder.id }}" class="btn btn-danger btn-sm">Usuń</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            <div id="col">
                <h1 style="text-align:center; padding-top:20px;">Dodaj wykonaną usługę:</h1>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.id) }}
                    <script type="text/javascript">
                        $(function() {
                            $('.chosen').chosen();
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.save) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
{% endblock %}