{% extends 'base.html.twig' %}

{% block title %}Lista zleceń{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista zleceń:</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for message in app.flashes('addOrder') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('editOrder') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('changeOrderStatus') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteOrder') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteServiceFromOrder') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Klient</th>
                    <th scope="col">Numer rejestracyjny</th>
                    <th scope="col">Status zlecenia</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                    <tbody>
                    {% set positionNumber = 0 %}
                        {% for order in orders %}
                            {% set positionNumber = positionNumber + 1 %}
                        <tr>
                            {% if order.isArchive == 0  %}
                            <th scope="row">{{ positionNumber }}.</th>
                            <td>{{ order.car.client.name }}</td>
                            <td>{{ order.car.registrationNumber }}</td>
                            <td>
                                {% if order.status == 1  %}
                                    <p>Oczekujące</p>
                                {% elseif order.status == 2 %}
                                    <p>Diagnozowanie</p>
                                {% elseif order.status == 3 %}
                                    <p>Naprawa</p>
                                {% else %}
                                    <p>Zakończone</p>
                                {% endif %}
                            </td>
                            <td>
                                <a href="/orders/view/{{order.id}}" class="btn btn-primary btn-sm">Szczegóły zlecenia</a>
                                <a href="/orders/add-service/{{order.id}}" class="btn btn-secondary btn-sm">Dodaj wykonanie usługi</a>
                                <a href="/orders/edit/{{ order.id }}" class="btn btn-success btn-sm">Edytuj zlecenie</a>
                                <a href="/orders/delete/{{ order.id }}" class="btn btn-danger btn-sm">Usuń zlecenie</a>
                            </td>
                        </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
            </table>
        </div>
            <div class="row">
                <a href="/orders/add" class="btn btn-danger btn-lg btn-block">Dodaj zlecenie</a>
            </div>
    </div>
{% endblock %}