{% extends 'base.html.twig' %}

{% block title %}Informacje o zleceniu{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Informacje o zleceniu:</h1>
    </div>
    <div class="container">
        {{ form_start(form) }}
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="orderNumber">Numer zlecenia:</label>
                    <input class="form-control" id="orderNumber" type="text" placeholder="{{ order.id }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="clientName">Klient:</label>
                    <input class="form-control" id="clientName" type="text" placeholder="{{ order.car.client.name }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="registrationNumber">Samochód:</label>
                    <input class="form-control" id="registrationNumber" type="text" placeholder="{{ order.car.brand }} {{ order.car.model }} ({{ order.car.registrationNumber }})" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="comments">Uwagi klienta:</label>
                    <textarea class="form-control" id="comments" cols="5" rows="5" placeholder="{{ order.comments }}" readonly=""></textarea>
                </fieldset>
            </div>
        </div>
        <div id="orderStatus">
            <h1 style="text-align:center; font-weight:bold">
                {% if order.status == 1  %}
                    Oczekujące
                {% elseif order.status == 2 %}
                    Diagnozowanie
                {% elseif order.status == 3 %}
                    Naprawa
                {% else %}
                    Zakończone
                {% endif %}
            </h1>
            <h1 style="text-align:center; padding-top:20px;">Zmień status zlecenia:</h1>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.status) }}
                <script type="text/javascript">
                    $(function() {
                        $('.chosen').chosen();
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}