{% extends 'base.html.twig' %}

{% block title %}Lista samochodów{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista samochodów:</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for message in app.flashes('addCar') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('editCar') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteCar') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('conflictDeleteCar') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Klient</th>
                    <th scope="col">Marka</th>
                    <th scope="col">Model</th>
                    <th scope="col">Numer rejestracyjny</th>
                    <th scope="col">Akcja</th>
                </tr>
                </thead>
                    <tbody>
                    {% set positionNumber = 0 %}
                        {% for car in cars %}
                            {% set positionNumber = positionNumber + 1 %}
                        <tr>
                            <th scope="row">{{ positionNumber }}.</th>
                            <td>{{ car.client.name }}</td>
                            <td>{{ car.brand }}</td>
                            <td>{{ car.model }}</td>
                            <td>{{ car.registrationNumber }}</td>
                            <td>
                                <a href="/cars/view/{{car.id}}" class="btn btn-primary btn-sm">Szczegóły</a>
                                <a href="/cars/edit/{{ car.id }}" class="btn btn-success btn-sm">Edytuj</a>
                                <a href="/cars/delete/{{ car.id }}" class="btn btn-danger btn-sm">Usuń</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
        </div>
            <div class="row">
                <a href="/cars/add" class="btn btn-danger btn-lg btn-block">Dodaj samochód</a>
            </div>
    </div>
{% endblock %}