{% extends 'base.html.twig' %}

{% block title %}Informacje o samochodzie{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Informacje o samochodzie:</h1>
    </div>
    <div class="container">
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="name">Właściciel:</label>
                    <input class="form-control" id="name" type="text" placeholder="{{ car.client.name }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="brand">Marka:</label>
                    <input class="form-control" id="brand" type="text" placeholder="{{ car.brand }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="model">Model:</label>
                    <input class="form-control" id="model" type="text" placeholder="{{ car.model }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="productionDate">Rok produkcji:</label>
                    <input class="form-control" id="productionDate" type="text" placeholder="{{ car.productionDate }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="capacity">Pojemność [cm3]:</label>
                    <input class="form-control" id="capacity" type="text" placeholder="{{ car.capacity }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="mileage">Przebieg [km]:</label>
                    <input class="form-control" id="mileage" type="text" placeholder="{{ car.mileage }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="vin">Numer VIN:</label>
                    <input class="form-control" id="vin" type="text" placeholder="{{ car.vin }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="registrationNumber">Numer rejestracyjny:</label>
                    <input class="form-control" id="registrationNumber" type="text" placeholder="{{ car.registrationNumber }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <a href="/cars" class="btn btn-primary btn-lg btn-block">Powrót</a>
            </div>
        </div>
    </div>
{% endblock %}