{% extends 'base.html.twig' %}

{% block title %}Dodaj klienta{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Dodaj klienta:</h1>
    </div>
    <div class="container">
        {{ form_start(form) }}
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.name) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.street) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.postalCode) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.telephone) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.nip) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col">
                    {{ form_row(form.save) }}
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}