{% extends 'base.html.twig' %}

{% block title %}Lista klientów{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Lista klientów:</h1>
    </div>
    <div class="container">
        <div class="row">
            {% for message in app.flashes('addClient') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('editClient') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('deleteClient') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
            <div class="row">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Lp.</th>
                            <th scope="col">Imię i nazwisko</th>
                            <th scope="col">Numer telefonu</th>
                            <th scope="col">Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set positionNumber = 0 %}
                            {% for client in clients %}
                                {% set positionNumber = positionNumber + 1 %}
                            <tr>
                                <th scope="row">{{ positionNumber }}.</th>
                                <td>{{ client.name }}</td>
                                <td>{{ client.telephone }}</td>
                                <td>
                                    <a href="/clients/view/{{client.id}}" class="btn btn-primary btn-sm">Szczegóły</a>
                                    <a href="/clients/edit/{{ client.id }}" class="btn btn-success btn-sm">Edytuj</a>
                                    <a href="/clients/delete/{{ client.id }}" class="btn btn-danger btn-sm">Usuń</a>
                                </td>
                            </tr>
                            {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="row">
                <a href="/clients/add" class="btn btn-danger btn-lg btn-block">Dodaj klienta</a>
            </div>
    </div>
{% endblock %}