{% extends 'base.html.twig' %}

{% block title %}Informacje o kliencie{% endblock %}
{% block body %}
    <div id="header" style="padding-top:20px;">
        <h1 style="text-align:center">Informacje o kliencie:</h1>
    </div>
    <div class="container">
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="name">Imię i nazwisko:</label>
                    <input class="form-control" id="name" type="text" placeholder="{{ client.name }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="email">Adres e-mail:</label>
                    <input class="form-control" id="email" type="email" placeholder="{{ client.email }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="street">Ulica:</label>
                    <input class="form-control" id="street" type="text" placeholder="{{ client.street }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="postalCode">Kod pocztowy:</label>
                    <input class="form-control" id="postalCode" type="text" placeholder="{{ client.postalCode }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="city">Miasto:</label>
                    <input class="form-control" id="city" type="text" placeholder="{{ client.city }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="telephone">Numer telefonu:</label>
                    <input class="form-control" id="telephone" type="text" placeholder="{{ client.telephone }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <fieldset>
                    <label class="control-label" for="nip">Numer NIP:</label>
                    <input class="form-control" id="nip" type="text" placeholder="{{ client.nip }}" readonly="">
                </fieldset>
            </div>
        </div>
        <div class="form-group">
            <div class="col">
                <a href="/clients" class="btn btn-primary btn-lg btn-block">Powrót</a>
            </div>
        </div>
    </div>
{% endblock %}